@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div ng-controller="LandingPageController">
    <div class="container mainContent">
        <div ui-view="containerOne"></div>
    </div>
</div>

@Scripts.Render("~/bundles/angular")