@{
    Layout = "";
}

<md-card ng-repeat="classified in classifieds | filter: classifiedsFilter" flex="30" class="classified">
    <img ng-src="{{ classified.fileLocation }}" alt="" />
    <md-card-content>
        <div class="classified-info">
            <h2 class="md-title">{{ classified.name }}</h2>
            <h3>{{ classified.genre.name }}</h3>
            <small>Released: {{ classified.releaseDate | date: 'longDate' }}</small>
            <br />
            <small>Added: {{ classified.dateAdded | date: 'longDate' }}</small>
            <hr />
            <p class="read-more">{{ classified.description }}</p>
        </div>
    </md-card-content>
</md-card>
